ion-tabs.tabs-icon-top.tabs-color-active-positive
    // Dashboard Tab
    ion-tab(title='Map', icon-off='ion-ios-pulse', icon-on='ion-ios-pulse-strong', href='#/tab/map')
        ion-nav-view(name='tab-map')
    // Chats Tab
    ion-tab(title='Payment', icon-off='ion-ios-chatboxes-outline', icon-on='ion-ios-chatboxes', href='#/tab/payment')
        ion-nav-view(name='tab-payment')
